#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  background-color: #61dafb;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #21a1f1;
}
p {
  font-size: 1.5rem;
  margin-top: 1rem;
  
}